img, .box_blue-clip_01, .box_blue-clip_03, .box_blue-clip_06, .box_blue-clip_08, .bookshop_bookthumb, .view-book-shad1_01, .view-book-shad1_02, .view-book-shad1_03, .view-book-shad2_01, .view-book-shad2_02, .view-book-shad2_03, .breadcrumb_01, .breadcrumb_03 {
    behavior: url('include/iepngfix.htc')
}

.bookshop_bookdescription {
    width: auto;
}

.bookshop_lettrine {
    color: #D26502;
    border: 1px solid #D56A00;
    background-color: #FFF;
    padding: 3px;
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 160%;
    font-weight: bold;
    width: 10px;
}

.bookshop_lettrine-L {
    color: #D26502;
}

/* Start layout CSS */
.tableWidget_headerCell, .tableWigdet_headerCellOver, .tableWigdet_headerCellDown { /* General rules for both standard column header and mouse on header of sortable columns */
    cursor: pointer;
    border-bottom: 3px solid #C5C2B2;
    border-right: 1px solid #ACA899;
    border-left: 1px solid #FFF;
    background-color: #ECE9D8;
}

.tableWidget_headerCell { /* Standard column header */
    border-top: 2px solid #ECE9D8;
}

.tableWigdet_headerCellOver { /* Rollover on sortable column header */
    border-top: 2px solid #FFC83C;
}

.tableWidget tbody .tableWidget_dataRollOver { /* Rollover style on mouse over (Data) */
    background-color: #FFF; /* No mouseover color in this example - specify another color if you want this */
}

.tableWigdet_headerCellDown {
    border-top: 2px solid #FFC83C;
    background-color: #DBD8C5;
    border-left: 1px solid #ACA899;
    border-right: 1px solid #FFF;
}

.tableWidget td {
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid #EAE9E1; /* Border bottom of table data cells */
}

.tableWidget tbody {
    background-color: #FFF;
}

.tableWidget {
    font-family: arial;
    font-size: 12px;
    width: 400px;
}

/* End layout CSS */

div.widget_tableDiv {
    border: 1px solid #ACA899; /* Border around entire widget */
    height: 200px;
    overflow: auto;
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    width: 400px;
}

html > body div.widget_tableDiv {
    overflow: hidden;
    width: 400px;
}

.tableWidget thead {
    position: relative;
}

.tableWidget thead tr {
    position: relative;
    top: 0;
    bottom: 0;
}

.tableWidget .scrollingContent {
    overflow-y: auto;
    overflow: -moz-scrollbars-vertical;
    width: 100%;

}

/* New styles */

.box_blue-clip_01 {
    background: url('../images/welcome/welcome_01.png') no-repeat left top;
    height: 52px;
    width: 44px;
}

.box_blue-clip_02 {
    background: url('../images/welcome/welcome_02.gif') repeat-x left top;
    height: 19px;
}

.box_blue-clip_03 {
    background: url('../images/welcome/welcome_03.png') no-repeat right top;
    height: 52px;
    width: 33px;
}

.box_blue-clip_04 {
    background: url('../images/welcome/welcome_04.gif') repeat-y left top;
    width: 44px;
}

.box_blue-clip_05 {
    background: url('../images/welcome/welcome_05.gif') repeat-y right top;
    width: 33px;
}

.box_blue-clip_06 {
    background: url('../images/welcome/welcome_06.png') no-repeat left bottom;
    height: 24px;
    width: 44px;
}

.box_blue-clip_07 {
    background: url('../images/welcome/welcome_07.gif') repeat-x left bottom;
    height: 17px;
}

.box_blue-clip_08 {
    background: url('../images/welcome/welcome_08.png') no-repeat right bottom;
    height: 24px;
    width: 33px;
}

.welcome-message, .category-list, .bookshop_catdescription {
    background-color: #fafafb;
}

.bookshop_bookthumb {
    text-align: center;
    height: 122px;
    width: 106px;
    padding-top: 16px;
    background: url('../images/box_thumb-books.png') no-repeat;
}

.bookshop_bookthumb-big {
    width: 25%;
}

#bookshop-logo {
    text-align: center;
}

#bookshop_publicite {
    border: 1px solid #E9E9E9;
    background-color: #F7F7F7;
    margin: 10px;
    padding: 5px;
}

#bookshop_caddy {
    margin: 10px;
}

.bookshop_bookssummary {
    padding: 0 10px 10px 10px;
}

.bookshop_bookssummary_view-book h3, .bookshop_description_view-book h3, .bookshop_otherinf h3 {
    color: #000000;
    margin-top: 0;
}

.bookshop_booktitle {
    font-size: 120%;
    padding: 10px 78px 5px 10px;
}

.bookshop_booktitle a {
    text-decoration: underline;
}

.bookshop_booktitle a:hover {
    text-decoration: none;
}

.bookshop_booktitle_view-book h2 {
    color: #000000;
}

.bookshop_bookauthor {
    padding: 0 10px 10px 10px;
    font-weight: bold;
    font-size: 90%;
}

.bookshop_bookauthor_view-book, .bookshop_booktranslators_view-book {
    font-weight: bold;
    font-size: 90%;
    padding-top: 10px;
}

.bookshop_bookauthor_view-book a, .bookshop_booktranslators_view-book a {
    text-decoration: underline;
}

.bookshop_bookauthor_view-book a:hover, .bookshop_booktranslators_view-book a:hover {
    text-decoration: none;
}

.bookshop_bookprice {
    padding: 0 10px 10px 10px;
}

.bookshop_bookprice a {
    font-size: 120%;
}

/* page curl */
.page-curl_01 {
    background-color: #fcfcfc;
    background-repeat: no-repeat;
    background-position: right top;
    background-image: url(../images/page-curl/page-curl_01-1.gif);
    background-color: #fcfcfc;
    border: 1px solid #E8E8E8;
    padding: 0 14px 10px 10px;
}

#bookshop_publicite-category {
    border: 1px solid #E9E9E9;
    background-color: #F7F7F7;
    margin: 10px;
    padding: 5px;
}

.bookshop_catdescription h2 {
    text-align: center;
}

.bookshop_description {
    padding: 0 15px 10px 10px;
}

.bookshop_read-more {
    text-align: right;
    padding: 0 15px 10px 10px;
}

.bookshop_catdescription h2, .featured-blocks-titles h2 {
    margin-top: 0;
}

/* View book*/

.view-book-shad1_01 {
    background: url(../images/view-book/view-book-shad1_01.png) no-repeat right bottom;
    height: 4px;
    width: 4px;
}

.view-book-shad1_02 {
    background: url(../images/view-book/view-book-shad1_02.png) no-repeat left bottom;
    height: 4px;
}

.view-book-shad1_03 {
    background: url(../images/view-book/view-book-shad1_03.png) no-repeat right top;
    width: 4px;
}

.view-book-shad2_01 {
    background: url(../images/view-book/view-book-shad2_01.png) no-repeat left top;
    height: 4px;
    width: 4px;
}

.view-book-shad2_02 {
    background: url(../images/view-book/view-book-shad2_02.png) no-repeat right top;
    height: 4px;
}

.view-book-shad2_03 {
    width: 4px;
    background: url(../images/view-book/view-book-shad2_03.png) no-repeat left bottom;
}

/* end view book */

.bookshop_bookdescription {
    background-color: #FFFFFF;
    padding: 0 10px 10px 10px;
    color: #575757;
}

.bookshop_bookdescription-contentTitles {
    color: #000;
    font-weight: bold;
}

#bookshoop_breadcrumb {
    color: #8B310A;
    padding: 3px;
    font-weight: bold; /*margin: 10px 0px 10px 0px;*/
}

#bookshoop_breadcrumb a {
    color: #F8F0DA;
    text-decoration: underline;
}

#bookshoop_breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumbT {
    border-bottom: 1px solid #dd8a07;
    margin-top: 5px;
    margin-bottom: 5px;
}

.breadcrumb_01 {
    background: url(../images/breadcrumb_01.png) no-repeat left top;
    width: 10px;
}

.breadcrumb_02 {
    background: url(../images/breadcrumb_02.gif) repeat-x left top;
}

.breadcrumb_03 {
    background: url(../images/breadcrumb_03.png) no-repeat right top;
    width: 11px;
}

.bookshop_bookprice_view-book {
    background-color: #FCF7DA;
    border: 1px solid #F9EEB5;
    padding: 5px;
    margin: 10px 0 10px 0;
}

.bookshop_view-book_price {
    padding: 0 0 4px 0;
}

.bookshop_view-book_shipping-price {
    padding: 4px 0 0 0;
}

.bookshop_bookdate {
    padding-bottom: 2px;
}

.bookshop_booklangue {
    padding-top: 2px;
}

.bookshop_otherinf {
    background-color: #EEF2F7;
    margin: 10px;
    padding: 5px;
    border: 1px solid #D1DBE7;
}

.bookshop_authorbio {
    margin-top: 15px;
}

.bookshop_authorphotos img {
    border: 1px solid #4F4F4F;
}

.bookshop_alphabet {
    text-align: center;
}

.bookshop_alphabet a {
    font-size: 120%;
    text-decoration: none;
}

.bookshop_alphabet a:hover {
    text-decoration: underline;
}

.bookshop_listauthors {
    width: 50%;
}

.bookshop_listauthors a {
    font-weight: normal;
    text-decoration: none;
}

.bookshop_listauthors a:hover {
    text-decoration: underline;
}

.bookshop_cat-map li {
    height: 1.5em;
}

.bookshop_cat-map li a {
    font-weight: normal;
    text-decoration: none;
    height: 1.5em;
}

.bookshop_cat-map li a:hover {
    text-decoration: underline;
}

#bookshop_caddy td {
    background: #fdfdfd url(../images/bg-degrad-soft-grey.gif) repeat-x left top;
    border: 1px solid #ececec;
    border-top-color: #F2F2F2;
    border-right-color: #FFFFFF;
    padding: 3px;
    color: #000000;
}

#bookshop_caddy th {
    background: #dd8a07 url(../images/bg-degrad-soft-orange.gif) repeat-x left bottom;
    color: #FFF;
    text-align: center;
    border: 1px solid #b87c27;
    border-right-color: #E4BD74;
}

.bookshop_caddy-titles {
    color: #FFF;
}

.bookshop_discount-description {
    background-color: #FCF7DA;
    border: 1px solid #F9EEB5;
    padding: 5px;
    margin: 10px 0 10px 0;
    font-weight: normal;
    color: #4B4B4B;
    font-size: 11px;
}

.bookshop_discounts h3 {
    color: #A40004;
}

#frmUpdate input, #frmCheckout input, #frmGoOn input, #frmEmpty input {
    font-size: 90%;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #B06C11;
    background: #f6b958 url(../images/bg-degrad-input-orange.gif) repeat-x left top;
}

.red-line {
    background-color: #bd420e;
    height: 2px;
    margin-top: 1px;
    padding: 0;
    border-top: 1px solid #FFF;
}
